* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background: #e07a5f;
  color: #f4f1de;
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;
}

header:hover {
  color: #262730;
}

footer {
  background: #8f5d5d;
  color: #f4f1de;
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
}

ul li {
  padding: 15px 25px;
  background: beige;
  margin: 5px 0;
  border-radius: 15px;
  color: #3d405b;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: burlywood;
  color: #14213d;
  border-radius: 25px;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

#my-form input[type='date'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

#my-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.bg-dark {
  background: #3d405b;
  color: #f4f1de;
}

.error {
  background: #e07a5f;
  color: #f4f1de;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

.task-title {
  color: #e07a5f;
  font-size: large;
  font-weight: bold;
}

#feature-button {
  display: inline-block;
  width: 25%;
  padding: 5px;
  border-color: #81b29a;
  border-radius: 50px;
  margin: 5px 0;
}

.completed-task {
  border-style: dashed;
  border-color: #8d99ae;
  background-color: #3d405b;
  color: #8d99ae;
  text-decoration: line-through;
}

#sort-date-btn {
  margin: 15px 15px 15px 70px;
  padding: 0.5rem 1.5rem;
  background: #e07a5f;
  color: #f4f1de;
  border-radius: 25px;
}

#sort-comp-btn {
  margin: 15px 70px 15px 15px;
  padding: 0.5rem 1rem;
  background: #e07a5f;
  color: #f4f1de;
  border-radius: 25px;
}

#reset-btn {
  margin: 15px;
  padding: 0.5rem 2rem;
  background: #e07a5f;
  color: #f4f1de;
  border-radius: 25px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #81b29a;
  color: #3d405b;
  border-radius: 5px;
  margin: 5px 0;
  font-size: medium;
}

.button:hover {
  background-color: #5f797b;
  color: #dad7cd;
}

#sort-date-btn:hover,
#sort-comp-btn:hover {
  background-color: #723d46;
}

.colour-hex {
  margin: 0;
  padding: 0;
  font-size: xx-small;
}
